<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="layoutAdmin :: layout-head">
</head>
<body>
<div class="container-scroller">
    <th:block th:replace="~{layoutAdmin :: sidebar}"></th:block>
    <div class="container-fluid page-body-wrapper">
        <th:block th:replace="~{layoutAdmin :: menubar}"></th:block>
        <div class="main-panel">
            <div class="content-wrapper">
                <!--                    <div th:insert="~{::{content}}"></div>-->
                <div class="page-header">
                    <h4 class="page-title"> Add Reservation </h4>
                </div>
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <form th:action="@{/admin/reservation/add}" th:object="${reservation}" method="post"
                                  class="forms-sample">
                                <div class="form-group">
                                    <label>Reservation' Id</label>
                                    <input type="text" class="form-control text-light" id="newId"
                                           th:field="*{reservationId}">
                                </div>
                                <div class="form-group">
                                    <label>User's Id</label>
                                    <select class="form-control text-light" id="cinema" name="user.userId">
                                        <option value="">-- Select User's Id --</option>
                                        <option th:each="user : ${users}" th:value="${user.userId}"
                                                th:text="${user.userId}"
                                                th:selected="${reservation.user.userId} == ${user.userId} ? true : false"></option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Seat's ID</label>
                                    <select class="form-control text-light" id="movie" name="seat.seatId">
                                        <option value="">-- Select Seat's Id --</option>
                                        <option th:each="seat : ${seats}" th:value="${seat.seatId}"
                                                th:text="${seat.seatId}"
                                                th:selected="${reservation.seat.seatId} == ${seat.seatId} ? true : false"></option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Shows' Id</label>
                                    <select class="form-control text-light" id="day" name="shows.showId">
                                        <option value="">-- Select Shows' Id --</option>
                                        <option th:each="shows : ${shows}" th:value="${shows.showId}"
                                                th:text="${shows.showId}"
                                                th:selected="${reservation.shows.showId} == ${shows.showId} ? true : false"></option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary mr-2">Save</button>
                            </form>
                        </div>
                    </div>
                </div>

                <a class="btn btn-primary  mr-2" href="/admin/reservation"><i class="mdi mdi-arrow-left"></i>Back</a>

            </div>
            <th:block th:replace="~{layoutAdmin :: footer}">
            </th:block>
        </div>
    </div>
    <th:block th:replace="~{layoutAdmin :: foot}"></th:block>
</div>
</body>
</html>