<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--<title> Responsive Login and Signup Form </title>-->
  <!-- CSS -->
  <link rel="stylesheet" href="/assets/css/Login.css">
  <!-- Boxicons CSS -->
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<section class="container forms">
  <div class="form login">
    <div class="form-content">
      <header style="color: #eb315a">Reset Password</header>

      <form th:action="@{/account/resetpassword}" method="post">

        <div class="field input-field">
          <input type="text" placeholder="username" class="input" id="username" name="username">
        </div>
        <div class="field button-field">
          <button type="submit"  class="forgot-pass"  onclick="showAlert()">Reset</button>
          <script th:inline="javascript">
            function showAlert() {
              alert("Password has been sent to your email?");
            }
          </script>
        </div>
      </form>
      <div class="field button-field">
        <button><a style="color: #fff;" href="/account/login">LOG IN</a></button>
      </div>
    </div>

  </div>

</section>
</body>
</html>